<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/trix.css">
<link rel="stylesheet" href="/css/app.css">
    <title>{{pageName}}</title>
</head>
<body>
    
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">DevJobs</a>
        </h1>

        {{#if bar}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}

        {{#if closeSession}}
            <div class="cerrar-sesion">
                <p>Hi! {{name}}</p>
                {{!-- {{#if image}}
                    <img src="uploads/profile/{{image}}" alt="" class="admin-perfil">
                {{/if}} --}}
                <a href="/admin">Admin</a>
                <a href="/logout">Logout</a>
            </div>
        {{/if}}    

    </div>

    <header class="site-header contenedor separador">
        <h2>{{pageName}}</h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if btn}}
            <a href="/positions/new" class="btn btn-azul">
                Publish New Position
            </a>
        {{/if}}
    </header>

    <div class="contenidor-principal contenedor">
        {{#if messages}}
            <div class="alertas">
                {{#showAlerts messages}}
                {{/showAlerts}}
            </div>
        {{/if}}
        {{{body}}}
    </div>
    
<script src="/js/trix.js"></script>
<script src="/dist/bundle.js"></script>
</body>
</html>