<main class='lista-vacantes' >
    <h2>Navigation</h2>
    <div class="botones separador">
        <a href="/edit-profile" class="btn btn-azul">Edit Profile</a>
        <a href="/positions/new" class="btn btn-verde">New Position</a>
    </div>

    <h2>You'r Positions</h2>
    <div class="panel-administracion">
        {{#if positions.length}}
            {{#each positions as | position |}}
                <div class="vacante ">
                    <div class="caja">
                        <h3>{{position.company}}</h3>
                        <p class="puesto">{{position.title}}</p>
                        <p class="candidatos">{{position.candidates.length}} Candidates</p>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/candidates/{{position.id}}" class="btn btn-amarillo">Candidates</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/positions/edit/{{positions.url}}" class="btn btn-verde">Edit</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="#" data-delete={{position.id}} class="btn btn-rojo">Delete</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>No Positions, Create one</p>
        {{/if}}
    </div>
</main>